<h3>BUDDyUP</h3>

<ul class="new_com">
  <li> <%= link_to('New Comment', new_goal_comment_path) %>  </li>
</ul>


<div class="content">
<p>Category: <%= @goal.category %></p>
<p>Name: <%= @goal.name %></p>
<p>Duration: <%= @goal.duration %> Days</p>
<p><%= @goal.content %></p>
</div>


<div class="comments">
    <% @goal.comments.each do |comment| %>
      <div class="comments-goal"><%= comment.author %> (Created at: <%= comment.created_at %>)</div>
      <p> <%= comment.content %> </p>

  <p><%= link_to('Delete', goal_comment_path(@goal, comment), method: :delete) %>
  <%= link_to('EDIT', edit_goal_comment_path(@goal, comment)) %></p>


    <% end %>
</div>
