<h1><%= @goal.name %></h1>
<p><%= @goal.category %></p>
<p><%= @goal.duration %></p>
<p><%= @goal.content %></p>


<%= form_tag add_user_path(@goal), method: "put" do |form| %>
  <%= submit_tag 'Join' %>
<% end %>



